.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: $border-radius;
  cursor: pointer;
  outline: none;
  border: none;

  &.default {
    background: $steelblue;

    &:hover {
      background: lighten($steelblue, 5%);
    }
  }

  &.error {
    background: $error-red;
    width: 100%;

    &:hover {
      background: lighten($error-red, 5%);
    }
  }

  &:disabled {
    background: $border-gray;
    cursor: not-allowed;
    
    &:hover {
      background: $border-gray;
    }
  }
  
  .button-content {
    color: white;
    font-weight: bold;
    flex: 1 1 auto;
  }
}