.search {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;

  .input-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .search-and-suggestions {
      position: relative;
    }
  }

  .search-button {
    margin-left: 15px;
    @include mobile {
      margin-left: 5px;
    }
    @include mobile-small {
      margin-left: 5px;
    }
  }

  .checkbox-wrapper {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
