$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 460px;
$mobile-smaller-width: 380px;
$mobile-tiny-width: 320px;

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mobile-small {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin mobile-tiny {
  @media (min-width: #{$mobile-tiny-width}) and (max-width: #{$mobile-smaller-width}) {
    @content;
  }
}
