// colors
$white: #fff;
$black: #000;
$border-gray: #c7c4c4;
$steelblue: #4682b4;
$red: #d45959;
$box-shadow-gray: #eceaea;
$header-blue: #a4c0ca;
$header-black: #272525;
$chart-background-color: rgba(181, 181, 183, 0.25);
$tooltip-background-color: #5d4761;
$error-red: #d84646;
$modal-overlay-background: rgba(255, 255, 255, 0.75);

// others
$border-radius: 3px;
