.results-line-chart {
  width: 800px;
  height: 550px;
  margin-top: 10px;
  padding: 10px;
  background: $chart-background-color;
  margin-bottom: 25px;

  svg {
    text {
      font-size: 12px;
    }

    .axis > path {
      stroke: $black;
    }

    .line {
      fill: none;
      stroke-width: 2.5;
    }

    .dot {
      fill: $black;
      opacity: 0.5;
      stroke-opacity: 0;
      stroke-width: 15px;
      stroke: $black;
    }
  }
  .tooltip {
    position: absolute;
    visibility: hidden;
    background: $tooltip-background-color;
    color: $white;
    padding: 5px;

    &:before {
      content: '';
      position: absolute;
      border: solid;
      border-color: $tooltip-background-color transparent transparent transparent;
      border-width: 8px;
      top: 5px;
      left: -8px;
    }
  }
}
