.results-line-chart {
  margin-top: 10px;
  padding: 10px;
  background: $chart-background-color;

  svg {
    text {
      font-size: 12px;
    }

    .axis > path {
      stroke: $black;
    }

    .line {
      fill: none;
      stroke-width: 2.5;
    }

    .dot {
      fill: $black;
      opacity: 0.5;
      stroke-opacity: 0;
      stroke-width: 15px;
      stroke: $black;
    }
  }
  .tooltip {
    position: absolute;
    opacity: 0;
    background: $tooltip-background-color;
    color: white;
    font-weight: bold;
    padding: 5px;
  }
}
