.results-line-chart {
  margin-top: 10px;
  padding: 10px;
  background: $chart-background-color;
  
  svg {
    text {
      font-size: 12px;
    }

    .axis > path {
      stroke: $black;
    }

    .line {
      fill: none;
      stroke-width: 2;
    }

    .dot {
      fill: $black;
    }
  }
}