.input-container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 500px;
  height: 35px;
  position: relative;

  @include mobile {
    width: 300px;
  }

  .text-input {
    width: 100%;
    outline: none;
    padding: 10px;
    background: $white;
    font-size: 12px;
    border-radius: $border-radius;
    border: 1px solid $border-gray;
  }

  .clear-field-button-container {
    position: absolute;
    right: 12px;
    top: 10px;
    background-color: $border-gray;
    height: 15px;
    border-radius: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .clear-field-button {
      color: $white;
      font-size: 12px;
    }
  }
}