.header {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, darken($header-blue, 5%), lighten($header-blue, 10%));
  margin-bottom: 30px;
  border-radius: $border-radius;

  h1 {
    color: $header-black;
    font-size: 22px;
    
    @include desktop {
      font-size: 32px;
    }
  }
}