.results-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .results-header {
    display: flex;

    .searched-country {
      margin-right: 20px;
      border: 1px solid $border-gray;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      box-shadow: 0 1px 1px 0 $border-gray;
      &:hover {
        background: darken($white, 2%);
      }

      .clear-country-button {
        cursor: pointer;
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}
