.results-top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .results-header {
    display: flex;

    .searched-country {
      margin-right: 30px;
      border: 1px solid black;
      border-radius: 10px;
      padding: 5px;
      background-color: whitesmoke;
      display: flex;
      justify-content: space-between;

      .clear-country-button {
        cursor: pointer;
        padding-left: 10px;
      }
    }
  }
}
