.checkbox-container {
  input {
    margin-right: 10px;
  }

  // hide the default checkbox
  [type='checkbox']:not(:checked),
  [type='checkbox']:checked {
    position: absolute;
    left: -9999px;
  }

  [type='checkbox']:not(:checked) + label,
  [type='checkbox']:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
  }

  // custom checkbox styling
  [type='checkbox']:not(:checked) + label:before,
  [type='checkbox']:checked + label:before {
    content: '';
    position: absolute;
    left: 2px;
    top: -2px;
    width: 20px;
    height: 20px;
    border: 1px solid $steelblue;;
    background: transparent;
    border-radius: 1px;
  }

  // checked mark
  [type='checkbox']:not(:checked) + label:after,
  [type='checkbox']:checked + label:after {
    content: '';
    position: absolute;
    color: $black;
    top: 2px;
    left: 4px;
    font-size: 0.8em;
    line-height: 0.8;
    transition: all 0.2s;
    padding-left: 1px;
    padding-right: 3px;
    height: 7px;
    width: 12px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
  }

  [type='checkbox']:not(:checked) + label:after {
    opacity: 0;
  }

  [type='checkbox']:checked + label:after {
    opacity: 1;
  }
}
