// colors
$white: #fff;
$black: #000;
$border-gray: #c7c4c4;
$steelblue: #4682b4;
$red: #d45959;
$box-shadow-gray: #eceaea;
$header-blue: #c4d3d8;
$chart-background-color: #ced5d6;
$tooltip-background-color: #5d4761;
$error-red: #d84646;

// others
$border-radius: 3px;
